.FeaturedCard {
    width: fit-content;
    margin-right: 7%;
}

.FeatCardBottom {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    z-index: 23;
    background-color: white;
    top: 170px;
    border-radius: 10px;
    width: fit-content;
}

.FaetPhoto {
    position: absolute;
    width: 350px;
    margin-right: 20px;
}

.FeatTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.FeatTop button {
    border: 1px solid #e1e7ff;
    padding: 10px;
    border-radius: 20px;
    color: #384bff;
    margin-right: 10px;

}

.FeatTop span {
    color: #758099;
}

.FeatCardBottom h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid #e1e7ff;
    margin-bottom: 10px;
    color: #262533;
}

.FeatBottm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;

}

.FeatBottmLeft {
    display: flex;
    flex-direction: row;
}

.FeatBottmLeft h4 {
    color: #51505b;
}

.FeatBottmLeft p {
    color: #969fb1;
}

.FeatBottmLeft img {
    margin-right: 10px;
}

.FeatBottm svg {
    border: 1px solid #e1e7ff;
    background-color: #f3f7fb;
    padding: 10px;
    color: black;
}