.Card {
    background-color: #f3f7fb;
    border-radius: 20px;
    padding: 10px;


}

.ServiceImage {
    border: 1px solid #d7dfff;
    width: fit-content;
    margin-bottom: 5px;

}

.ServiceImage img {
    padding: 5px;
    margin-bottom: 10px;
}

.Card h3 {
    margin-bottom: 10px;
}

.Card p {
    margin-bottom: 10px;
    color: #afb6c7;

}

.Card button {
    color: #afb6c7;
    background-color: #f3f7fb;
    border: 1px solid #dde4fe;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

.Card button svg {
    margin-left: 5px;
}