.TeamMembersCard {
    width: fit-content;
    color: #fff;
    margin: 0;

}

.TeamMembersCard img {
    position: absolute;
    width: 270px;
    height: 280px;
    z-index: -99;
    border-radius: 10px;

}


.TeamMembersCard .TeamBottom {
    position: relative;
    background-color: #18185e;
    width: 270px;
    padding: 15px;
    bottom: -200px;
    text-align: center;
    z-index: 7;
    border-radius: 0px 0px 10px 5px;
}

.TeamMembersCard svg {
    border: 1px solid #384bff;
    border-radius: 50%;
    left: 80%;
    bottom: 70px;
    position: absolute;
    background-color: #384bff;
    z-index: 9;
}